<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- run amcl and move base for the three turtlebots -->
  <group ns="tb3_0">
    <param name="tf_prefix" value="tb3_0" />
    <include file="$(find path_planning_system)/launch/subsystems/amcl.launch"> 
		<arg name="tf_prefix" value="tb3_0"/>
		<arg name="scan_topic" value="scan" />
		<arg name="use_map_topic" value="true" />
		<arg name="initial_pose_x" value="0.0" />
		<arg name="initial_pose_y" value="0.0" />
		<arg name="initial_pose_a" value="0.0" />
		<arg name="global_frame_id" value="/map"/>
    </include>
    <include file="$(find path_planning_system)/launch/subsystems/move_base.launch"/>
  </group>

  <group ns="tb3_1">
    <param name="tf_prefix" value="tb3_1" />
    <include file="$(find path_planning_system)/launch/subsystems/amcl.launch"> 
		<arg name="tf_prefix" value="tb3_1"/>
		<arg name="scan_topic" value="scan" />
		<arg name="use_map_topic" value="true" />
		<arg name="initial_pose_x" value="0.0" />
		<arg name="initial_pose_y" value="1.0" />
		<arg name="initial_pose_a" value="0.0" />
		<arg name="global_frame_id" value="/map"/>
    </include>
    <include file="$(find path_planning_system)/launch/subsystems/move_base.launch"/>
  </group>

  <group ns="tb3_2">
    <param name="tf_prefix" value="tb3_2" />
    <include file="$(find path_planning_system)/launch/subsystems/amcl.launch"> 
		<arg name="tf_prefix" value="tb3_2"/>
		<arg name="scan_topic" value="scan" />
		<arg name="use_map_topic" value="true" />
		<arg name="initial_pose_x" value="0.0" />
		<arg name="initial_pose_y" value="2.0" />
		<arg name="initial_pose_a" value="0.0" />
		<arg name="global_frame_id" value="/map"/>
    </include>
    <include file="$(find path_planning_system)/launch/subsystems/move_base.launch"/>
  </group>

</launch>