<library path="src">
  <class name="Chronos Rqt" type="chronos_rqt.timeline_module.ChronosRqt" base_class_type="rqt_gui_py::Plugin">
    <description>
      A slide control for the path planning system in the robot simulation.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Chronos Rqt</label>
      <icon type="theme">system-help</icon>
      <statustip>They see me scrolling...</statustip>
    </qtgui>
  </class>
</library>