<launch>
<!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="tb_number"   default="1"/>

<!-- Start positions and Prefix definitions -->
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="orient" default="1.0"/>

<!-- Spawn -->
  <group ns = "tb3_$(arg tb_number)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find path_planning_system)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg tb_number)" />
    </node>
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg tb_number) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg orient) -param robot_description" />
  </group>
</launch>