<launch>
    <node pkg="chronos" type="around" name="around" output="screen" />
    <node pkg="chronos" type="around_1" name="around_1" output="screen" />
    <node pkg="chronos" type="around_2" name="around_2" output="screen" />
    <node pkg="chronos" type="around_3" name="around_3" output="screen" />
</launch>