<launch>
    <node pkg="chronos" type="paper" name="paper" output="screen" />
    <node pkg="chronos" type="paper_1" name="paper_1" output="screen" />
    <node pkg="chronos" type="paper_2" name="paper_2" output="screen" />
    <node pkg="chronos" type="paper_3" name="paper_3" output="screen" />
</launch>